html
  head
    title= title
  body
    h1= message
    img(src="https://image.freepik.com/free-vector/cute-avocado-cartoon-hand-drawn-style_42349-476.jpg", alt="Текст если нет картинки")
    h2= 'И тут текст'
    a(href="./page2") Ссылка на 2 страницу
