  
html
  head
    title= title
  body
    h1= message
    img(src="https://image.freepik.com/free-vector/cute-avocado-with-rose-flower-with_97231-111.jpg", alt="")
    h2= 'ЭТО ТЕБЕ :3 '
    a(href="./") вернуться на главную
    
